@use '../01-abstracts/' as *;
.about{
    &__text1, &__text2{
        --flow-space:var(--space-l);
    }
    &__grid1,&__grid2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        align-items: center;
        gap: var(--space-xl);
        @include breakpoint(md){
            grid-template-columns: 1fr 1fr;
            
        }
       
    }
    &__img1{
        --horizontal-alignment:end;
        grid-column: 1;
        grid-row: 1 / 2;
        
        @include breakpoint(md){
           grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }

    &__text2{
        .card{
            min-height: auto;
        }
    }

}