---
import Layout from '../layouts/Layout.astro';
import Header from '../components/design/Header.astro';
import Hero from '../components/design/Hero.astro';
import About from '../components/design/About.astro';
import Banner from '../components/design/Banner.astro';
import Services from '../components/design/Services.astro';
import Footer from '../components/design/Footer.astro';
import Questions from '../components/design/Questions.astro';
import Theme from '../components/Theme.astro';
---

<Layout title="Cyber.AI - Cyber Punk Website">
		<Theme/>
		<Header></Header>
		<main>
			<Hero></Hero>
			<About></About>
			<Banner></Banner>
			<Services></Services>
			<Questions></Questions>
		</main>
		<Footer></Footer>

</Layout>

