---

---
<div class="pointer | absolute">
    <div class="pointer__horizontal | absolute">
        <div class="pointer__vertical | absolute">
            <div class="pointer__circle1 | absolute rounded-full"></div>
            <div class="pointer__circle2 | absolute rounded-full"></div>
            <div class="pointer__circle3 | absolute rounded-full"></div>
        </div>
    </div>
</div>